# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# OS and Editor junk
.DS_Store
Thumbs.db

# Testing coverage
coverage/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# IDE folders
.vscode/
.idea/
.env
node_modules/
